{% extends 'base.twig' %}

{% block title %}Tickets - Ticket Management{% endblock %}

{% block content %}
<div id="ticket-form-container"></div>
<div id="tickets-list" class="grid gap-4 mt-6"></div>

<!-- modal placeholder -->
<div id="modal-root"></div>
{% endblock %}
